.parallax-container {
    height: 100vh; 
    background-image: url('../../back.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .parallax-content {
    text-align: center;
    padding-top: 130px;
    color: white;
  }

  .highlighted{
    color: #009D64
  }
  
  .frontTitle{
    font-size: 40px;
  }