.App {
  text-align: center;

}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.separator {
  height: 2px; 
  width: 80%; 
  margin: 20px auto; 
  background-color: green; 
}


.join-us-content {
  padding: 60px 20%; 
  text-align: center; 
  background-color: #f9f9f9;
  border-radius: 8px;
  /* border: 3px solid #009D64;  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  margin: 40px 0;
}

.join-us-content h2 {
  font-size: 1.5em;
  margin-bottom: 20px; 
  color: #333;
}

.join-us-content p {
  font-size: 1.1em; 
  line-height: 1.6; 
  color: #555; 
}


.content-section {
  padding: 60px 20%;
  text-align: center;
  border-radius: 8px;
  margin: 40px 0;
}

.content-section h2 {
  margin-bottom: 20px;
  color: #333;
}

.content-section p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #555;
}





